body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parent{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
    border: 1px solid red;
    padding: 20px;
}
.parent div{
    width: 100px;
    height: 100px;
    background-color: blue;
}