.underline{
    color: red;
    text-decoration: underline yellow;
}

.overline{
    color: black;
    text-decoration: overline red;
}
.line-through{
    color: blue;
    text-decoration: line-through green;
}

.all-decoration{
    color: black;
    text-decoration: overline underline line-through red;
}