.button{
    background-color: red;
    color:green;
    font-size: 60px;

}

#button3{
    background-color: black;
    color: red;
    font-size: 70px;
}

#button4{
    background-color: green;
    color: white;
    font-size: 89px;
}