body{
    height: 300vh;
    background-color: rgba(34, 9, 34, 0.816);
}

.header{
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
}
.sticky_part{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 130px;
    color: aliceblue;
    margin-top: 50px;
}

.photo{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: -1;
    width: 50%;
}

.parent{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    justify-content:center ;
    align-items: start;
    gap: 20px;
}